@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lol_bold';
  src: url('./../fonts/BeaufortforLOL-Bold.ttf');
}

@font-face {
  font-family: 'Lol_medium';
  src: url('./../fonts/BeaufortforLOL-Medium.ttf');
}

@font-face {
  font-family: 'Lol_text';
  src: url('./../fonts/Spiegel_TT_Regular.ttf');
}

*{
   font-family: "Lol_text";
}

body{
  @apply relative
}


h1{
  font-family: 'Lol_bold';
  @apply text-[56px] text-[#C89B3C]
}

p{
  @apply text-[18px] text-[#A09B8C]
}


.borderSpy{
  @apply bg-[#0A1428] border border-[#0AC8B9]
}

.contanerNum{
  @apply md:text-9xl text-7xl text-white px-[50px] py-3 borderSpy inline-block
}

.contanerAsd{
  @apply md:text-5xl text-white px-[50px] py-3 borderSpy inline-block
}
